.nav {

  $nav-text-color: $color-black-light;

  &__button {
        
    color: $nav-text-color;
    text-transform: uppercase;

    &:visited,
    &:hover,
    &:focus {
      color: $nav-text-color;
    }

  }

}