@import './fonts.scss';


// Sizing Units

$size-base          : .4rem;            // 4px
$size-small         : $size-base * 2;   // 8px
$size-default       : $size-base * 3;   // 12px
$size-medium        : $size-base * 6;   // 24px
$size-large         : $size-base * 9;   // 36px
$size-extra-large   : $size-medium * 2; // 48px

$site-max-width: 1200px;

// TODO these should be called font-weight-${}
$base-font-size: 17;
$font-normal:         400 !default;
$font-bold:           700 !default;


$color-white:                #ffffff !default;
$color-black:                #000000 !default;
$color-black-light:          #212121 !default;

$color-base:                 $color-black-light !default;

$color-gray-dark:            #323a45 !default;
$color-gray:                 #5b616b !default; // lighten($color-gray-dark, 20%)
$color-gray-medium:          #757575 !default; // lightest gray that passes color contrast
$color-gray-light:           #aeb0b5 !default; // lighten($color-gray-dark, 60%)
$color-gray-lighter:         #d6d7d9 !default; // lighten($color-gray-dark, 80%)
$color-gray-lightest:        #f1f1f1 !default; // lighten($color-gray-dark, 91%)

$color-gray-warm-dark:       #494440 !default;
$color-gray-warm-light:      #e4e2e0 !default; // lighten($color-gray-warm-dark, 90%)
$color-gray-cool-light:      #dce4ef !default; // lighten($color-primary, 90%)

$color-green:                #2e8540 !default;
$color-green-light:          #4aa564 !default; // lighten($color-green, 20%)
$color-green-lighter:        #94bfa2 !default; // lighten($color-green, 60%)
$color-green-lightest:       #e7f4e4 !default; // lighten($color-green, 60%)

$color-primary:              #0071bc !default;
$color-primary-darker:       #205493 !default;
$color-primary-darkest:      #112e51 !default;

$color-primary-300: tint($color-primary, 25%);
$color-primary-200: tint($color-primary, 65%);
$color-primary-100: tint($color-primary, 85%);
$color-primary-900: shade($color-primary, 25%);

$color-secondary: $color-green;
$color-secondary-300: tint($color-secondary, 21%);
$color-secondary-200: tint($color-secondary, 60%);
$color-secondary-100: tint($color-secondary, 85%);
$color-secondary-900: shade($color-secondary, 25%);

$color-tertiary: $color-gray-dark;
$color-tertiary-300: tint($color-tertiary, 24%);
$color-tertiary-200: tint($color-tertiary, 80%);
$color-tertiary-100: tint($color-tertiary, 92%);
$color-tertiary-900: shade($color-tertiary, 35%);

$color-site-bg: $color-gray-warm-light;

$color-link: $color-primary-300;
$color-link-hover: $color-base;
$color-link-visited: #0000cc;

$color-focus:                #3e94cf !default;
$color-visited:              #4c2c92 !default;

$color-shadow:               rgba(#000, 0.3) !default;

// Magic Numbers
$text-max-width:      53rem !default;
$lead-max-width:      77rem !default;
$site-max-width:      1040px !default;
$site-margins:        3rem !default;
$site-margins-mobile: 1.5rem !default;
$article-max-width:   600px !default;
$input-max-width:     46rem !default;
$border-radius:       rem(3px) !default;
$box-shadow:          0 0 2px $color-shadow !default;
$focus-shadow:        0 0 3px $color-focus, 0 0 7px $color-focus !default;
$nav-width:           951px !default;

// 44 x 44 pixels hit target following Apple iOS Human Interface
// Guidelines
$hit-area: 4.4rem !default;

// ---------------------------------------------------------------------------
// Typography

$em-base:             10px;
$base-font-size:      rem(17px) !default;
$small-font-size:     rem(14px) !default;
$lead-font-size:      rem(20px) !default;
$title-font-size:     rem(52px) !default;
$h1-font-size:        rem(40px) !default;
$h2-font-size:        rem(30px) !default;
$h3-font-size:        rem(20px) !default;
$h4-font-size:        rem(17px) !default;
$h5-font-size:        rem(15px) !default;
$h6-font-size:        rem(13px) !default;
$base-line-height:    1.5 !default;
$heading-line-height: 1.3 !default;
$lead-line-height:    1.7 !default;

// Font Size Scale
$font-size-0 : 13;
$font-size-1 : 14;
$font-size-2 : 15;
$font-size-3 : $base-font-size;  // 17
$font-size-4 : 20;
$font-size-5 : 30;
$font-size-6 : 40;
$font-size-7 : 52;

$lead-font-size: $font-size-4;
$lead-line-height: 1.7;

$source-sans-pro: 'Source Sans Pro', sans-serif;
$raleway: 'Raleway', sans-serif;
$font-sans:  $source-sans-pro, $helvetica;
$font-serif: 'Merriweather', $georgia;
$font-mono:  $monospace, "Consolas", "Menlo", "Monaco", "Courier New", "Courier", monospace;

$font-base:  $font-sans;

$font-light:  300;
$font-normal: 400;
$font-bold:   700;

$h1-font: $raleway;
$h2-font: $raleway;
$h3-font: $raleway;
$h4-font: $source-sans-pro;
$h5-font: $source-sans-pro;

// ---------------------------------------------------------------------------
// FSA Grid Settings

$grid-gutter: ($base-font-size * 1.5);
$grid-columns: 12;