<div class="nav-container"><nav>
		        <div class="nav-bar">
		            <div class="module left">
		                <a href="index.html">
		                    <div class="vnu"><img class="logo logo-dark" alt="Foundry" src="img/bignamehere-logo-black.png"></div>
		                </a>
		            </div>
		            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
		                <i class="ti-menu"></i>
		            </div>
		            <div class="module-group right">
		                <div class="module left">
		                    <ul class="menu">
		                        
		                        <li>
		                            <a href="#">home</a>
		                        </li><li class="vpf">
		                            <a href="#">insights</a>
		                        </li><li class="vpf">
		                            <a href="#">projects</a>
		                        </li><li class="vpf">
		                            <a href="#">contact</a>
		                        </li>
		                        
		                    </ul>
		                </div>
		                
		                
		            </div>
		            
		        </div>
		    </nav>
		</div>

		
		    
		    
		
		    
		
		    
		    
		
		    
		
		    
		    
		
		    
		    
		
		    
		    
		
		    
		
		    
		    
		
		    
		
		    
		    
		
		    
		
		    
		    
		
		    
		    
		
		    
		    
		
		    
		    
		
</div>
				