<div class="fsa-header-app">
  <div class="fsa-header-app__bd">
    <div class="fsa-header-app__primary">
      <a class="fsa-header-app__home-link" href="index.html">
        <span class="fsa-header-app__app-name">
          <abbr class="fsa-header-app__app-abbr">bignamehere</abbr>
          <span class="fsa-header-app__app-full">Digital &amp; UX Strategy</span>
        </span>
      </a>
    </div>
    <div class="fsa-header-app__secondary">
      
    </div>
  </div>
</div>
